@import 'config';

.home {
    height: 100%;
    padding-top: 20vh;
    align-items: center;
    text-align: center;

    &__center {
        width: 80%;
        height: 70vh;
        position: absolute;
        left: 20%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &-text {
            font-size: 1.8rem;
            width: 70%;
            padding-top: 25%;
        }

        &-img {
            width: 100%;
            height: auto;
            padding-right: 5%;
            box-shadow: inset 0px 0px 20px 8px #1A1A1D;
        }
        
        &-name {
            font-size: 3rem;
            padding-bottom: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-bottom: 2px solid #bfbfbf;

            &--last {
                color: $secondary-color;
                font-weight: bold;
            }
        }
    }

    
}